.row
  .col-xs-12.col-sm-7.col-md-7.col-lg-4
    %h1.page-title.txt-color-blueDark
      -#%i.fa.fa-university.fa-fw
      = @assessment.name
%br

.row
  %div.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .jarviswidget.jarviswidget-color-blueDark{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false", role: "widget", style: ""}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-edit
        %h2 Assessment
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      / widget div
      %div{:role => "content"}
        .widget-body
          = form_for @assessment do |f|
            = hidden_field_tag :page, @page+1

            - if @page == 0

              .row
                .col-xs-12.col-sm-10
                  %h2 Introduction
                  %p
                    = @assessment.overview.html_safe

              .row
                .col-xs-12.col-sm-10
                  %h2 Instructions
                  %p
                    = @assessment.instructions.html_safe

              %hr

            - elsif @page <= (@assessment.questions.count)

              .row
                .col-xs-12.col-sm-6
                  %h1
                    = "Question #{@page} of #{@assessment.questions.count}"

                  %hr

                  - if @leading_statement.context_message
                    .alert.alert-info.fade.in
                      %i{class:"fa-fw fa fa-info"}
                      = @leading_statement.context_message
                .col-xs-12.col-sm-6
                  .well
                    %h4 Overall Progress

                    .bar-holder
                      .progress
                        .progress-bar.bg-color-teal{"aria-valuenow" => "#{@progress.to_i}", "aria-valuetransitiongoal" => "#{@progress.to_i}", :style => "width: #{@progress.to_i}%;"} #{@progress.to_i}%

              %hr

              .row
                .col-sm-12
                  %h3
                    %em
                      = @leading_statement.text

              .row
                .col-xs-12
                  = render partial: "question", locals: {question: @question, answer: @answer}

            - elsif @page > (@assessment.questions.count)

              %h4 Congratulations

              %hr
              
              %p You have completed the assessment process, you will receive your report in your email inbox soon.  If you have submitted this assessment through a third party, your provider will also receive a copy.

            .widget-footer
              - if @page == 0
                = link_to assessment_path(@assessment, :page => @page+1), class: "btn btn-sm btn-primary" do
                  <i class="fa fa-angle-double-right"></i>&nbsp; Begin
              - elsif @page < (@assessment.questions.count)
                = link_to assessment_path(@assessment, :page => @page-1), class: "btn btn-sm btn-primary" do
                  <i class="fa fa-angle-double-left"></i>&nbsp; Previous
                &nbsp;
                = button_tag(type: 'submit', class: "btn btn-primary") do
                  <i class="fa fa-angle-double-right"></i>&nbsp; Next
              - elsif @page == (@assessment.questions.count-1)
                = link_to assessment_path(@assessment, :page => @page-1), class: "btn btn-sm btn-primary" do
                  <i class="fa fa-angle-double-left"></i>&nbsp; Previous
                &nbsp;
                = button_tag(type: 'submit', class: "btn btn-success") do
                  <i class="fa fa-save"></i>&nbsp; Submit Assessment
:javascript

  $(document).ready(function() {

    pageSetUp();

    var $slider2 = $(".slider-ui").slider({ max: 8 , value: 4 });

    // and then we can apply pips to it!
    $slider2.slider("pips");
  });