%h2 Change Your Password
%fieldset
  .form-group
    = f.label :password, "New Password", :class => "col-md-5 control-label"
    .col-md-7
      = f.text_field :password, :class => "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm New Password", :class => "col-md-5 control-label"
    .col-md-7
      = f.text_field :password_confirmation, :class => "form-control"
  .form-group
    = f.label :current_password, :class => "col-md-5 control-label"
    .col-md-7
      = f.text_field :current_password, :class => "form-control"

.form-group
  .col-md-offset-5.col-md-7.col-sm-12
    = button_tag(type: 'submit', class: "btn btn-sm btn-primary") do
      %i.fa.fa-save
      Change Your Password